/* FONTS */

/* regular */

@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 400;
  src: url('/font/basiercircle-regular-webfont.woff2') format('woff2'), url('/font/basiercircle-regular-webfont.woff') format('woff');
}

/* medium */

@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 500;
  src: url('/font/basiercircle-medium-webfont.woff2') format('woff2'), url('/font/basiercircle-medium-webfont.woff') format('woff');
}

/* semi bold */

@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 600;
  src: url('/font/basiercircle-semibold-webfont.woff2') format('woff2'), url('/font/basiercircle-semibold-webfont.woff') format('woff');
}

/* bold */

@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 900;
  src: url('/font/basiercircle-bold-webfont.woff2') format('woff2'), url('/font/basiercircle-bold-webfont.woff') format('woff');
}

/* regular italic */

@font-face {
  font-family: 'Basier Circle';
  font-style: italic;
  font-weight: 400;
  src: url('/font/basiercircle-regularitalic-webfont.woff2') format('woff2'), url('/font/basiercircle-regularitalic-webfont.woff') format('woff');
}

/* medium italic */

@font-face {
  font-family: 'Basier Circle';
  font-style: italic;
  font-weight: 500;
  src: url('/font/basiercircle-mediumitalic-webfont.woff2') format('woff2'), url('/font/basiercircle-mediumitalic-webfont.woff') format('woff');
}

/* semi bold italic */

@font-face {
  font-family: 'Basier Circle';
  font-style: italic;
  font-weight: 600;
  src: url('/font/basiercircle-semibolditalic-webfont.woff2') format('woff2'), url('/font/basiercircle-semibolditalic-webfont.woff') format('woff');
}

/* bold italic */

@font-face {
  font-family: 'Basier Circle';
  font-style: italic;
  font-weight: 900;
  src: url('/font/basiercircle-bolditalic-webfont.woff2') format('woff2'), url('/font/basiercircle-bolditalic-webfont.woff') format('woff');
}

/* VARIABLES */

:root {
  /* variables */
  --header-h: 180px;
  --yellow: #f2b950;
  --green: #15bf81;
  --red: #f29494;
  --purple: #7f6df2;
  --cream: #FCF9EB;
  --color-pink: #f29494;
  --color-pink-rgb: 242, 148, 148;
  --color-yellow: #f2b950;
  --color-yellow-rgb: 242, 185, 80;
  --color-green: #15bf81;
  --color-green-rgb: 21, 191, 129;
  --color-purple: #7f6df2;
  --color-purple-rgb: 127, 109, 242;
  --color-palette-viola: #ae00ff;
  --color-palette-verde: #51ff00;
}

/* GENERAL */

html, body {
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
  font-family: 'Basier Circle', 'Montserrat', sans-serif;
  min-height: 100vh;
}

@media screen and (min-width: 1600px) {
  html, body {
    font-size: 18px;
  }
}

body {
  /* background-image: url('/img/bg-desktop.svg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; 
  color: white;
  background-color: var(--cream);
}

h1 {
  margin-bottom: 2.5rem;
}

h1, h2, h3, h4, h5, H6, .nav-link {
  color: var(--color-palette-verde);
  font-family: 'Basier Circle', 'Raleway', sans-serif;
}

p {
  line-height: 33px;
}
b{
  color: var(--color-palette-viola);
}
a {
  color: var(--color-palette-verde);
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol>li {
  margin: .5rem 0 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

ol>li::before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.uppercase {
  text-transform: uppercase;
}

.linethrough {
  text-decoration: line-through;
}

.spaced {
  letter-spacing: 5px;
}

.bold {
  font-weight: 700;
}

.superbold {
  font-weight: 900;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(50, 50, 50, .2);
}

#header {
  position: fixed;
  width: 100%;
  height: var(--header-h);
  top: 0px;
  z-index: 9999999;
}

#intro-section {
  margin-top: calc(var(--header-h) + 80px);
}

.navbar {
  font-size: 14px;
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.navbar #brand-logo {
  width: 130px;
  transition: width .3s ease-in-out;
}

.navbar.compact {
  /* background-color: rgba(0,0,0,0.3); */
  background-color: var(--color-palette-viola);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0 10px rgba(0, 0, 0, .2);
}

.navbar.compact #brand-logo {
  width: 90px;
}
.navbar.compact .nav-item .nav-link:hover {
  color: black;
}
.navbar.compact .social-nav a:hover {
  color: black;
}

.nav-item {
  padding: 0 1rem;
  color: white;
}

.nav-item .nav-link {
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.social-nav a {
  transition: all .3s ease-in-out;
}

.social-nav a:hover {
  color: white;
}


.navbar .nav-item .nav-link {
  color: var(--color-palette-viola);
}

.navbar.compact .nav-item .nav-link {
  color: white;
}

.navbar-light .navbar-toggler {
  border: none !important;
}


.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

  border-color: white;
}


.social-nav {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.social-nav a {
  color: var(--color-palette-viola);
}

.navbar.compact .social-nav a {
  color: white;
}

.section-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.cta-button {
  padding: .7rem 2rem;
  border-radius: 50px;
  color: azure;
  background: var(--color-palette-viola);
  border: none;
  font-weight: 800;
  display: inline-block;
  margin-top: 1rem;
}

.cta-card {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.cta-card:nth-child(3) {
  border-width: 0 1px;
  border-style: solid;
  border-color: #e2e2e2;
}

.cta-card-head {
  min-height: 75px;
}

.cta-card p {
  min-height: 240px;
}

.as-card {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.cta-card h3 {
  margin-bottom: 2rem;
}

.cta-card img {
  width: 150px;
  margin-bottom: 2rem;
}

#footer {
  border-top: 1px solid rgba(0, 0, 0, .2);
  padding: 2rem;
}

.mail-add {
  font-size: 1.6rem;
  font-weight: 100;
  color: black;
  display: inline-block;
}

.mail-add:hover {
  text-decoration: none;
  color: black;
}

.mail-add::after {
  display: block;
  width: 0;
  content: '';
  border-bottom: 2px solid;
  transition: all .5s;
}

.mail-add:hover::after {
  width: 100%;
}

.contacts-ul {
  list-style: none;
  padding: 0;
}

.social-links-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.social-links-list li>a {
  color: var(--color-palette-viola);
  font-size: 2.5rem;
  margin: 0 1rem;
  transition: opacity .3s;
}

.social-links-list li>a:hover {
  opacity: .5;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-palette-viola);
}

footer>p {
  margin-bottom: 0;
}

.footer-social-links-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding: 0;
}

.footer-social-links-list li>a {
  color: var(--color-palette-viola);
  font-size: 2rem;
  margin: 0 .8rem;
  transition: opacity .3s;
}

/* FINALISTI */

.presentation-col {
  margin: .5rem auto;
}

.presentation-image, .presentation-video {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.presentation-image {
  transition: opacity .3s ease-in-out;
}

.presentation-image:hover {
  opacity: .7;
}

.presentation-video-html5, .presentation-video-vimeo {
  display: none;
  height: 100%;
  width: 100%;
}

#fb-event-cover {
  padding: .5rem;
  margin: .5rem;
  border: 5px solid #4D4D4D;
  cursor: pointer;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, .2);
  transition: all .3s ease-in-out;
}

#fb-event-cover:hover {
  padding: .8rem;
}

.splide__slide img {
  width: 100%;
  height: auto;
}

/* .presentation-video iframe {
  height: 100%;
  width: 100%;
} */

.bando-intro-icon {
  max-width: 200px;
  margin-bottom: 1.5rem;
}

/* SMALL SCREENS AND iPad PRO */

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

@media screen and (max-width: 1300px) {
  .navbar {
    font-size: 13px;
  }
}

/* SMALL SCREENS AND iPad PRO */

@media screen and (max-width: 1199px) {
  .navbar-light .nav-item {
    padding: .6rem 1rem;
  }
  .navbar-light .navbar-nav .nav-link {
    background-color: var(--color-palette-viola);
    color: white;
    font-size: 1rem;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: black;
  }
  .social-nav a:hover {
    color: black;
  }

  .navbar-collapse {
    background-color: var(--color-palette-viola);
    color: white;
    margin-left: -8px;
    margin-right: -8px;
  }
  .social-nav {
    color: white;

  }
  #navbarNav .dropdown-menu {
    background-color: transparent;
  }
  .social-nav a {
    color: white;
  }
}
.dropdown-menu  {
  background-color: var(--color-palette-viola);
}

/* VERY SMALL SCREENS AND LARGE TABLETS */

@media screen and (max-width: 991px) {
  .as-card {
    margin-bottom: 2rem;
  }
  .social-nav a {
    color: white;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: black;
  }
  .social-nav a:hover {
    color: black;
  }
}

/* TABLETS */

@media screen and (max-width: 768px) {
  .navbar.compact .nav-item .nav-link:hover {
    color: black;
  }}

/* SMARTPHONES (portait) */

@media screen and (max-width: 576px) {
  .navbar-light .navbar-nav .nav-link:hover {
    color: black;
  }
  .cta-card-head {
    height: unset;
    margin-top: 3rem;
  }
  .cta-card p {
    height: unset;
    min-height: unset;
  }
  .mail-add {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  #intro-section h1 {
    font-size: 2.1rem;
  }
}

  
.nascondi, .mostra{
  display:none;
  }
  
  .mostra{ 
  display:block;
  }

  a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}



#myBtnGoTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--color-palette-viola);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  opacity: 0.3;
}

#myBtnGoTop:hover {
  color: black;
  opacity: 1;
  text-decoration: none;
}

#myBtnGoTop {
  font-weight: 700;
  transition: all .3s ease-in-out;
}
