<nav class="navbar navbar-light navbar-expand-xl py-2 py-xl-4 px-2 px-xl-5">

  <a class="navbar-brand" href="./">
    <img id="brand-logo" src='./img/favicon.png' alt="AramHELL">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="./#intro-section">COS'È aramHELL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./regole">REGOLE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target=”_blank”  href="https://forms.gle/kvNYU5qfB8AoyxTm6">ISCRIVITI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./#section-3">CHI C'È DIETRO</a>
      </li>
      <li class="nav-item social-nav">
        <a href="https://www.twitch.tv/demonia_infernalis"><i class="fab fa-twitch"></i></a>
      </li>
      <li class="nav-item social-nav">
        <a href="https://www.instagram.com/demonia_infernalis"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="nav-item social-nav">
        <a href="https://discord.com/invite/Rg3dpr7Jga"><i class="fab fa-discord"></i></a>
      </li>

    </ul>
  </div>
</nav>
